.App {
  position: relative;
  height: 100%;
}
.App .main-content {
  min-height: 100vh;
}

.navbar {
  width: auto;
  background: var(--purple);
  position: relative;
}

.navbar-container {
  margin: 0 1.5rem;
}

.navbar .app-name {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-77%, 23%);
}

.navbar ul > li {
  display: inline-block;
  padding: 1em 1.2em;
}

.navbar ul > li a {
  color: var(--smoke-grey);
  text-decoration: none;
  font-weight: 400;
  font-size: 0.9rem;
  opacity: 0.8;
}

.navbar ul > li a:hover {
  opacity: 1;
}

footer {
  padding: 1rem 0;
  text-align: center;
  background: var(--dark-blue);
  color: #fff;
  width: 100%;
  bottom: 0;
}

footer p span {
  color: lightgray;
}

@media (max-width: 400px) {
  .navbar .app-name {
    transform: translate(-20%, 45%);
    font-size: 1.2rem;
  }
} 